---
import { getCollection } from "astro:content";
import Base from "@/layouts/Base.astro";
import PostsWithTag from "@/components/PostsWithTag.astro";

const { tag } = Astro.params;

export async function getStaticPaths() {
  const posts = await getCollection("postsJa");
  const uniqueTags = [...new Set(posts.map((post) => post.data.tags).flat())];
  return uniqueTags.map((tag: string) => {
    return {
      params: { tag },
    };
  });
}
---

<style lang="scss">
  h1 {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 4px;
    @include mixin.mobile-view {
      margin-bottom: 2vw;
    }
  }
  p {
    line-height: 1.5;
  }
</style>

<Base title={"タグ: " + tag} lang="ja">
  <h1>タグ "<span transition:name={tag}>{tag}</span>" の記事</h1>
  <PostsWithTag tag={tag} lang="ja" />
</Base>
