---
import Base from "@/layouts/Base.astro";

const title = "Page Not Found";
---

<style lang="scss">
  div {
    padding-block: 16px;
    @include mixin.mobile-view {
      padding-block: 3vw;
      margin-bottom: 3vw;
    }
  }

  p {
    font-size: 36px;
    font-weight: bold;
    line-height: 1.5;
    text-align: left;
  }
</style>

<Base title={title}>
  <div>
    <p>The page you are looking for cannot be found.</p>
  </div>
</Base>
