---
import Base from '@/layouts/Base.astro';

const title = 'Profile';
---
<style lang="scss">
  h1 {
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 16px;
    @include mixin.mobile-view {
      margin-bottom: 2vw;
    }
  }
  p {
    line-height: 1.5;
  }
</style>

<Base title={title}>
  <h1>Who I am</h1>
  <p>
    I am a human, not a bot.<br>
    I love Vim and Linux.
  </p>
</Base>

