---
import { getCollection } from "astro:content";

const { lang } = Astro.props;
const collection = lang === "ja" ? "postsJa" : "postsEn";
const posts = await getCollection(collection);
const base = lang === "ja" ? "/ja/blog/" : "/blog/";
---

<style lang="scss">
  ul {
    list-style-type: disc;
    padding-left: 20px;
    @include mixin.mobile-view {
      padding-left: 3vw;
    }
  }
  ul > li {
    margin-bottom: 4px;
    @include mixin.mobile-view {
      margin-bottom: 1vw;
    }
  }
  ul > li > a {
    text-decoration: underline;
    &:hover {
      text-decoration: none;
    }
  }
</style>

<ul>
  {
    posts
      .sort((x, y) => y.data.publishDate.localeCompare(x.data.publishDate))
      .map((post) => (
        <li>
          <a href={base + post.id}>{post.data.title}</a> -{" "}
          {post.data.publishDate}
        </li>
      ))
  }
</ul>
