---
import Document from "@/layouts/Document.astro";
import Header from "@/components/Header.astro";
import LoadingAnimation from "@/components/LoadingAnimation.astro";
import Footer from "@/components/Footer.astro";

const { title, description, lang = "ja" } = Astro.props;
---

<style lang="scss">
  main {
    margin: 8px auto;
    padding-inline: 12px;
    text-align: left;
    width: var.$content-width;
    @include mixin.mobile-view {
      margin-block: 2vw;
      padding-inline: 5vw;
      width: 100%;
    }
  }
</style>

<Document title={title} description={description} lang={lang}>
  <Header />
  <LoadingAnimation />
  <main class="main" role="main" data-loading>
    <slot />
  </main>
  <Footer />
</Document>
