---
import Document from '/src/layouts/Document.astro';
import Header from '/src/components/Header.astro';
import Loading from '/src/components/Loading.astro';
import Footer from '/src/components/Footer.astro';

const { title, description, lang = 'ja' } = Astro.props;
---
<style lang="scss">
  main {
    margin: 8px auto;
    padding-inline: 12px;
    text-align: left;
    width: var.$content-width;
    @include mixin.mobile-view {
      margin-block: 2vw;
      padding-inline: 5vw;
      width: 100%;
    }
  }
</style>

<Document title={title} description={description} lang={lang}>
  <Header />
  <Loading />
  <main class="main --wait-until-loaded" role="main">
    <slot />
  </main>
  <Footer />
</Document>

